.issueItem {
	background-color: rgb(191, 215, 223);
	border: 20px;
	border: 3px solid blueviolet;
	cursor: pointer;
	margin: auto;
	margin-bottom: 15px;
	padding: 10px;
	text-align: left;
	width: 80%;
}

.noissueItem {
	background-color: rgb(230, 230, 163);
	/* border: 20px; */
	border: 3px solid pink;
	padding: 10px;
	margin: auto;
	width: 80%;
}

a {
	text-decoration: none !important;
}
